.containerAbout {
  /* width: 50% !important;
  height: 100vh;
  color: #1d1d1f;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
  padding-top: 50px;
  margin-top: 50px !important;
  overflow: hidden; 
  position: fixed; 
  left: 0;
  right: 0; */
  width: 100% !important;
  min-height: 100vh;
  background-color: #f5f5f7;
  color: #1d1d1f;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  top: 0;
  overflow: hidden;
}
