.containerContact {
  width: 100% !important;
  min-height: 100vh;
  background-color: #f5f5f7;
  color: #1d1d1f;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  top: 0;
  overflow: hidden;
}

.leftSide {
  flex: 1;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactUSX {
  font-size: 28px;
  font-weight: 500;
}

.contactImage {
  width: 490px;
  height: 490px;
  border-radius: 50%;
  object-fit: cover;
}

.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.NumberContainer {
  display: flex;
  gap: 10px;
  font-weight: 550;
  font-size: 30.88px;
  justify-content: center !important;
  margin-top: 20px;
}

.ICONContainer a {
  margin-top: 39px;
  color: #333;
  font-size: 40px;
  text-decoration: none;
}

.ICONContainer a:hover {
  color: #007bff;
}

.ICONContainer i {
  font-size: 24px;
}
.ICONContainer {
  display: flex;
  /* margin-left: 90px !important; */
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 15px !important;
  gap: 45px;
  justify-content: space-between;
}

.ICONContainer a {
  text-decoration: none;
  color: #333;
  padding: 0px !important;
}

.githubIcon i {
  font-size: 50px;
  margin-left: 24px !important;
  color: #181717;
  transition: transform 0.3s ease, color 0.3s ease;
}

.githubIcon i:hover {
  transform: scale(1.02);
  color: #6b6969;
}

.stackOverflowIcon i {
  font-size: 50px;
  color: #000;
  transition: transform 0.3s ease, color 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.2);
}

.stackOverflowIcon i:hover {
  transform: scale(1.02);
  color: #f48023;
}

.linkedinIcon i {
  font-size: 50px;
  color: #000;
  transition: transform 0.3s ease, color 0.3s ease;
}

.linkedinIcon i:hover {
  transform: scale(1.02);
  color: #0b66c2;
}
.ContactUX:active {
  color: #c31cc3;
  transform: scale(0.95);
}

.googlePlusIcon i {
  font-size: 50px;
}

.twitterIcon i {
  color: #000;
  font-size: 50px;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover effect */
.twitterIcon i:hover {
  transform: scale(1.02);
  color: #1da1f2;
}

.instagramIcon i {
  font-size: 50px;
  color: #000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover effect */
.instagramIcon i:hover {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134b8, #515bd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: scale(1.02);
  opacity: 0.8;
}

.appleIcon i {
  font-size: 50px;
  color: #333;
  transition: transform 0.3s ease, color 0.3s ease;
}
.ContactUX {
  text-decoration: none;
  color: #000;
  font-size: 22.88px;
  font-weight: 250;
}
.ContactUX:hover {
  text-decoration: underline;
  color: gray;
}
.ContactFormXS {
  display: flex;
  flex-direction: column;
}
.appleIcon i:hover {
  transform: scale(1.02);
  color: #e5dcdc;
}
.ContactFormXS {
}
.iconSizeNumber {
  transform: rotate(90deg);
  font-size: 32px;
  color: #000;
  margin-right: 9px;
  transition: background-color 0.3s, color 0.3s;
}
.EmailAbove {
  margin-top: 8px !important;
}
.iconSizeNumber:hover {
  transform: scale(1.09);
  cursor: pointer;
  color: #25d366 !important;
}
.NumberLetter:hover {
  transform: scale(1.02);
  color: #6d6b6b;
}
.NumberLetter {
  transform: scale(1.02);
  color: #000;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
  .containerContact {
    margin-top: 51px !important;
    width: 100% !important;
    min-height: 100vh;
    background-color: #f5f5f7;
    color: #1d1d1f;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    height: auto;
    justify-content: flex-start;
    padding-bottom: 50px;
  }

  .leftSide {
    all: unset;
    padding-top: 21px;
    margin-top: 0px;
  }
  .ContactUSX {
    all: unset;
    padding-top: 30px !important;
  }
  .ContactFormXS {
    display: flex;
    flex-direction: column;
  }
  .contactImage {
    margin: 0 auto;
    padding: 0;
    min-width: 100%;
    width: auto;
    height: auto;
    border-radius: 14px;
    object-fit: cover;
    max-height: 410px;
  }

  .rightSide {
    all: unset;
    padding: 43px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
  }

  .NumberContainer {
    all: unset;
    display: flex;
    gap: 10px;
    font-weight: 550;
    font-size: 26.88px;
    justify-content: center !important;
    margin-top: 12px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }

  .ICONContainer a {
    margin-top: 15px !important;
    color: #333;
    font-size: 25px;
    text-decoration: none;
  }

  .ICONContainer a:hover {
    color: #007bff;
  }

  .ICONContainer i {
    margin-top: 15px !important;

    font-size: 24px;
  }
  .ICONContainer {
    all: unset;
    margin-top: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    gap: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .ICONContainer a {
    text-decoration: none;
    color: #333;
    padding: 0px !important;
  }

  .githubIcon i {
    font-size: 30px;
    color: #181717;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .githubIcon i:hover {
    transform: scale(1.02);
    color: #6b6969;
  }

  .stackOverflowIcon i {
    font-size: 30px;
    color: #000;
    transition: transform 0.3s ease, color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.2);
  }

  .stackOverflowIcon i:hover {
    transform: scale(1.02);
    color: #f48023;
  }

  .linkedinIcon i {
    font-size: 30px;
    color: #000;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .linkedinIcon i:hover {
    transform: scale(1.02);
    color: #0b66c2;
  }
  .ContactUX:active {
    color: #c31cc3;
    transform: scale(0.95);
  }

  .googlePlusIcon i {
    font-size: 30px;
  }

  .twitterIcon i {
    color: #000;
    font-size: 30px;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .twitterIcon i:hover {
    transform: scale(1.02);
    color: #1da1f2;
  }

  .instagramIcon i {
    font-size: 30px;
    color: #000;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .instagramIcon i:hover {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134b8, #515bd4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transform: scale(1.02);
    opacity: 0.8;
  }

  .appleIcon i {
    font-size: 30px;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .ContactUX {
    text-decoration: none;
    color: #000;
    font-size: 17.88px;
    font-weight: 300;
  }
  .ContactUX:hover {
    text-decoration: underline;
    color: gray;
  }
  .EmailAbove {
    margin-top: 12px !important;
  }
  .appleIcon i:hover {
    transform: scale(1.02);
    color: #e5dcdc;
  }
  .ContactFormXS {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .iconSizeNumber {
    transform: rotate(90deg);
    font-size: 26.88px;
    color: #000;
    margin-right: 9px;
    transition: background-color 0.3s, color 0.3s;
  }

  .iconSizeNumber:hover {
    transform: scale(1.09);
    cursor: pointer;
    color: #25d366 !important;
  }
  .NumberLetter:hover {
    transform: scale(1.02);
    color: #6d6b6b;
  }
  .NumberLetter {
    all: unset;
  }
}
