.containerExperience {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0 !important;
  padding-top: 22px;
  padding-bottom: 0;
  margin-left: 1.5%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f7;
  overflow-y: auto;
  box-sizing: border-box;
  min-width: 100%;
}

.WorkplacceTitle {
  font-weight: 550;
  font-size: 22.88px;
}
.RoleTittle {
  font-weight: 600;
  font-size: 22.88px;
}
.styledtable {
  width: 60%;
  padding: 0 20px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: 5%;
}

.styledtable td {
  padding: 10px 15px;
  /* background-color: teal; */
  vertical-align: middle;
  width: 50%;
}

.styledtable td:first-child {
  text-align: left;
}

.styledtable td:last-child {
  text-align: right;
  position: relative;
}

.techInfo {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.ContentinTable {
  text-align: center;
  font-size: 16px;
  /* background-color: #f9f9f9; */
  margin-top: 2px;
  margin-bottom: 7px;
  top: 0;
  text-align: justify !important;
}
.ContentinTable li {
  list-style-type: none;
  position: relative;
  padding: 1.5px;
}

.ContentinTable li::before {
  /* content: "\25B7"; */
  /* content: "\21D2"; */
  /* content: "\2794"; */
  content: "\25BA";
  position: absolute;
  left: -20px;
  font-size: 16px;
  color: #000;
}
@media (max-width: 768px) {
  .containerExperience {
    all: unset;
    margin-top: 51px !important;
    width: 100% !important;
    min-height: 100vh;
    background-color: #f5f5f7;
    color: #1d1d1f;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    height: auto;
    justify-content: flex-start;
    padding-bottom: 50px;
  }

  .WorkplacceTitle {
    font-weight: 550;
    font-size: 22.88px;
  }
  .RoleTittle {
    font-weight: 600;
    font-size: 22.88px;
  }

  .styledtable {
    width: 100%;
    padding: 0 12px;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  .styledtable td {
    padding: 10px 15px;
    vertical-align: middle;
    width: 100%;
  }

  .styledtable td:first-child {
    text-align: left;
  }

  .styledtable td:last-child {
    text-align: right;
    position: relative;
  }

  .techInfo {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
  }

  .ContentinTable {
    text-align: center;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 7px;
    top: 0;
    text-align: justify !important;
  }
  .ContentinTable li {
    list-style-type: none;
    position: relative;
    padding: 1.5px;
  }

  .ContentinTable li::before {
    /* content: "\25B7"; */
    /* content: "\21D2"; */
    /* content: "\2794"; */
    content: "\25BA";
    position: absolute;
    left: -20px;
    font-size: 16px;
    color: #000;
  }
}
