.Skillscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  background-color: #f5f5f7;
  overflow: hidden;
  height: calc(105vh - 80px);
  position: relative;
}

.card {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 61%;
  justify-items: center !important;
  align-items: center !important;
  padding: 2.5px;
  border-radius: 8px;
  margin-left: 3% !important;
}
.HeadingTittle {
  width: 55%;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0 !important;
}

.heading {
  font-weight: 440;
  font-size: 18px;
  max-width: 325px !important;
  margin-left: 50px !important;
  padding: 2.5px;
  position: relative;
  text-align: left;
}

.heading::before {
  content: "\25BA";
  position: absolute;
  left: -30px;
  font-size: 16px;
  color: #000;
  top: 50%;
  transform: translateY(-50%);
}

.nameContainer {
  justify-self: start;
  min-width: 100% !important;
  display: flex;
}
.nameContainer:hover {
  background-color: #ffffff;
  border-radius: 8px;
}
.progressBarContainer {
  position: relative;
  height: 0.5rem;
  background-color: #9fd29f;
  border-radius: 9999px;
  overflow: hidden;
  margin-bottom: 0.25rem;
  width: 340px;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 9999px;
  background: linear-gradient(to right, #7fff00, #008000);
  width: 340px;
  background-color: #ffffff;
}
.progressText {
  font-size: 14px;
  color: #000;
  text-align: center;
  margin-top: 5px;
}

.progressContainer {
  /* margin-left: 10px ; */
}
@media (max-width: 768px) {
  .Skillscontainer {
    margin-top: 51px !important;
    width: 100% !important;
    min-height: 100vh;
    background-color: #f5f5f7;
    color: #1d1d1f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    overflow-y: scroll;
  }

  .HeadingTittle {
    width: 80%;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -100px !important;
  }
  .card {
    all: unset;
    padding: 1.5px;
    border-radius: 8px;
  }

  .heading {
  }

  .heading::before {
    content: "\25BA";
  }

  .nameContainer {
    justify-self: start;
    min-width: 363px !important;
    display: flex;
  }

  .progressBarContainer {
    width: 270px;
  }

  .progressBar {
  }
  .progressText {
  }

  .progressContainer {
  }
}
