.Skillscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 101px;
  background-color: #f5f5f7;
  overflow: hidden;
  /* height: calc(105vh - 80px); */
  position: relative;
  height: 105vh;
  /* background-color: teal; */
  overflow-x: scroll;
}

.card {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 61%;
  justify-items: center !important;
  align-items: center !important;
  padding: 2.5px;
  border-radius: 8px;
  margin-left: 3% !important;
}
.HeadingTittle {
  width: 55%;
  font-size: 24px;
  font-weight: bold;
  text-align: center; /* Optional: centers the text itself */
  margin: 0;
}
.heading {
  font-weight: 440;
  font-size: 18px;
  max-width: 325px !important;
  margin-left: 50px !important;
  padding: 2.5px;
  position: relative;
  text-align: left;
}

.heading::before {
  content: "\25BA";
  position: absolute;
  left: -30px;
  font-size: 16px;
  color: #000;
  top: 50%;
  transform: translateY(-50%);
}

.nameContainer {
  justify-self: start;
  min-width: 100% !important;
  display: flex;
  transition: all 0.2s ease;
  cursor: pointer;
}
.nameContainer:hover {
  background-color: #ffffff;
  border-radius: 8px;
}
.progressBarContainer {
  position: relative;
  height: 0.5rem;
  background-color: #9fd29f;
  border-radius: 9999px;
  overflow: hidden;
  margin-bottom: 0.25rem;
  width: 340px;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 9999px;
  background: linear-gradient(to right, #7fff00, #008000);
  width: 340px;
  background-color: #ffffff;
}
.progressText {
  font-size: 14px;
  color: #000;
  text-align: center;
  margin-top: 5px;
}
.BottonsContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: sticky;
}
.progressContainer {
}
.AnotherPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 89%;
  background-color: teal;
}
.Certifications {
  padding: 19px 70px;
  background-color: #ffffff;
  font-size: 22.88px;
  font-weight: 450;
  width: 274.03px;
  cursor: pointer;
  transition: all 0.5s ease;
  text-align: center;

  /* transition: all ease-in 0.55ms; */
  border-radius: 8px;
}
.Education {
  background-color: #ffffff;
  font-size: 22.88px;
  padding: 19px 70px;
  width: 274.03px;
  text-align: center;

  font-weight: 450;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 8px;
}
.Education:hover,
.Certifications:hover {
  background-color: slategray;
  transform: scale(1.01);
}

.EC_Container {
  /* gap: 100px; */
  /* background-color: red; */
}
/* .EC_ContainerSecond {
  background-color: cyan;
  min-width: 100% !important;
}
.EC_ContainerFirst {
  background-color: red;
  min-width: 100% !important;
} */
@media (max-width: 768px) {
  .Skillscontainer {
    margin-top: 51px !important;
    width: 100% !important;
    max-height: 150vh;
    background-color: #f5f5f7;
    color: #1d1d1f;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    overflow-x: scroll;
    padding: 22px 0px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .HeadingTittle {
    width: 80%;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    /* margin-top: -100px !important; */
  }
  .card {
    all: unset;
    padding-top: 80px;
    padding: 1.5px;
    border-radius: 8px;
  }

  .heading {
  }

  .heading::before {
    content: "\25BA";
  }

  .nameContainer {
    justify-self: start;
    min-width: 376px !important;
    display: flex;
  }

  .progressBarContainer {
    width: 270px;
  }

  .progressBar {
  }
  .progressText {
  }

  .progressContainer {
  }

  .BottonsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: sticky;
    margin-top: 0;
    top: 0;
    padding-top: 0;
  }
  .AnotherPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #d5d5d7;
  }
  .Certifications {
    padding: 9px 30px;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 450;
    width: 172.33px;

    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;

    transition: all ease-in 0.55ms;
    border-radius: 8px;
  }
  .Education {
    background-color: #ffffff;
    font-size: 20px;
    width: 172.33px;
    padding: 9px 30px;
    font-weight: 450;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 8px;
    text-align: center;
  }
}
