.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.left {
  flex: 1;
}

.center {
  flex: 2;
  text-align: center;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.navItems {
  list-style-type: none;
  padding: 0;
  margin: 20;
}

.navItems li {
  display: inline;
  padding-right: 70px; /* Updated to 10px */
}

.navItems li:last-child {
  margin-right: 0;
}

.navItems li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}
.navItems li a:hover {
  color: rgb(0, 247, 255);
  text-decoration: none;
  font-size: 17px;
}
.siteName {
  font-weight: bold;
  font-size: 33px;
  margin-left: 14%;
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.username {
  margin-right: 10px;

  text-decoration: none;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 14%;
}
