body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, SF Pro Text, SF Pro Icons,
    Helvetica Neue, Helvetica, Arial, sans-se sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f7;

  /* -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; */
}
* {
  box-sizing: border-box;
  margin: 0; /* Reset margins for all elements */
  padding: 0; /* Reset padding for all elements */
}

:root {
  --sk-body-text-color: #1d1d1f;
  --sk-headline-text-color: #1d1d1f;
  --sk-body-background-color: #fff;
  --sk-body-font-stack: text;
  --sk-default-stacked-margin: 0.4em;
  --sk-paragraph-plus-element-margin: 0.8em;
  --sk-headline-plus-first-element-margin: 0.8em;
  --sk-headline-plus-headline-margin: 0.4em;
  --sk-paragraph-plus-headline-margin: 1.6em;
  --sk-glyph: #000;
  --sk-glyph-gray: #1d1d1f;
  --sk-glyph-gray-alpha: #000000e0;
  --sk-glyph-gray-secondary: #6e6e73;
  --sk-glyph-gray-secondary-alpha: #0000008f;
  --sk-glyph-gray-secondary-alt: #424245;
  --sk-glyph-gray-secondary-alt-alpha: #000000b8;
  --sk-glyph-gray-tertiary: #86868b;
  --sk-glyph-gray-tertiary-alpha: #0000007a;
  --sk-glyph-blue: #06c;
  --sk-glyph-orange: #b64400;
  --sk-glyph-green: #008009;
  --sk-glyph-red: #e30000;
  --sk-fill: #fff;
  --sk-fill-secondary: #fafafc;
  --sk-fill-tertiary: #f5f5f7;
  --sk-fill-gray: #1d1d1f;
  --sk-fill-gray-alpha: #000000e0;
  --sk-fill-gray-secondary: #86868b;
  --sk-fill-gray-secondary-alpha: #0000007a;
  --sk-fill-gray-tertiary: #d2d2d7;
  --sk-fill-gray-tertiary-alpha: #00000029;
  --sk-fill-gray-quaternary: #e8e8ed;
  --sk-fill-gray-quaternary-alpha: #00000014;
  --sk-fill-blue: #0071e3;
  --sk-fill-orange: #f56300;
  --sk-fill-orange-secondary: #fff9f4;
  --sk-fill-green: #03a10e;
  --sk-fill-green-secondary: #f5fff6;
  --sk-fill-red: #e30000;
  --sk-fill-red-secondary: #fff2f4;
  --sk-fill-yellow: #ffe045;
  --sk-fill-yellow-secondary: #fffef2;
  --sk-productred: #af1e2d;
  --sk-enviro-green: #00d959;
  --sk-enviro-neutral: #e8e8ed;
}

:root {
  --sk-glyph: #000;
  --sk-glyph-gray: #1d1d1f;
  --sk-glyph-gray-alpha: #000000e0;
  --sk-glyph-gray-secondary: #6e6e73;
}
/* src/variables.css */
:root {
  --sk-glyph: #000;
  --sk-glyph-gray: #1d1d1f;
  --sk-glyph-gray-alpha: #000000e0;
  --sk-glyph-gray-secondary: #6e6e73;
  /* ... rest of your variables ... */
}
/* Light Theme */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark Theme */
.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
}
.transparent-model {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 102;
}

/* 

********CODE FOR MODAL********

flex-basis: calc(100%);
border-radius: 8px;
background-color: #fff;
max-width: 593px;
height: auto;
padding-bottom: 27px; */
