@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ingrid+Darling:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-inria-sans: "Inria Sans";
  --font-ingrid-darling: "Ingrid Darling";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-6xl: 25px;
  --font-size-lg: 18px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-sm: 14px;
  --font-size-39xl: 58px;
  --font-size-16xl: 35px;
  --font-size-27xl: 46px;
  --font-size-83xl: 102px;
  --font-size-mini: 15px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-xs: 12px;
  --font-size-smi: 13px;
  --font-size-3xs: 10px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro: #e6e6e6;
  --color-sienna: #96644d;
  --color-oldlace: #fff5e7;
  --color-tan-100: #dec7a8;
  --color-tan-200: #ab9475;
  --color-saddlebrown: #783a1e;
  --color-darkslategray-100: #374151;
  --color-darkslategray-200: #3c3c3c;
  --color-darkslategray-300: #343333;
  --color-darkslategray-400: #263238;
  --color-darkgray: #ababab;
  --color-gray: #020202;
  --color-dimgray-100: #655353;
  --color-rosybrown: #b07d66;
  --color-darkseagreen: #9dc08c;
  --color-darkolivegreen: #6b8c59;
  --color-mediumaquamarine: #48b496;
  --color-seagreen: #2e9c7d;

  /* Gaps */
  --gap-319xl: 338px;
  --gap-xl: 20px;
  --gap-0: 0px;
  --gap-12xl: 31px;
  --gap-10xs: 3px;
  --gap-4xs: 9px;
  --gap-7xs: 6px;
  --gap-44xl: 63px;
  --gap-6xl: 25px;
  --gap-34xl: 53px;
  --gap-5xs: 8px;
  --gap-47xl: 66px;
  --gap-13xl: 32px;
  --gap-9xs: 4px;
  --gap-27xl: 46px;
  --gap-8xl: 27px;
  --gap-5xl: 24px;
  --gap-11xs: 2px;
  --gap-12xs: 1px;
  --gap-sm: 14px;
  --gap-16xl: 35px;
  --gap-10xl: 29px;
  --gap-3xs: 10px;
  --gap-6xs: 7px;
  --gap-mid: 17px;
  --gap-4230xl: 4249px;
  --gap-14xl: 33px;

  /* Paddings */
  --padding-33xl: 52px;
  --padding-6xl: 25px;
  --padding-34xl: 53px;
  --padding-44xl: 63px;
  --padding-xl: 20px;
  --padding-202xl: 221px;
  --padding-281xl: 300px;
  --padding-309xl: 328px;
  --padding-15xl: 34px;
  --padding-36xl: 55px;
  --padding-176xl: 195px;
  --padding-63xl: 82px;
  --padding-145xl: 164px;
  --padding-91xl: 110px;
  --padding-4xs: 9px;
  --padding-5xl: 24px;
  --padding-2xs: 11px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-mini: 15px;
  --padding-8xs: 5px;
  --padding-smi: 13px;
  --padding-67xl: 86px;
  --padding-4xl: 23px;
  --padding-17xl: 36px;
  --padding-37xl: 56px;
  --padding-3xs: 10px;
  --padding-62xl: 81px;
  --padding-6xs: 7px;
  --padding-24xl: 43px;
  --padding-11xs: 2px;
  --padding-30xl: 49px;
  --padding-28xl: 47px;
  --padding-10xs: 3px;
  --padding-2xl: 21px;
  --padding-16xl: 35px;
  --padding-55xl: 74px;
  --padding-9xl: 28px;
  --padding-xs: 12px;
  --padding-203xl: 222px;
  --padding-254xl: 273px;
  --padding-269xl: 288px;
  --padding-125xl: 144px;
  --padding-158xl: 177px;
  --padding-1391xl: 1410px;
  --padding-233xl: 252px;
  --padding-368xl: 387px;
  --padding-26xl: 45px;
  --padding-3xl: 22px;
  --padding-32xl: 51px;
  --padding-107xl: 126px;
  --padding-51xl: 70px;
  --padding-base: 16px;
  --padding-sm: 14px;
  --padding-mid: 17px;
  --padding-lgi: 19px;
  --padding-10xl: 29px;
  --padding-lg: 18px;
  --padding-8xl: 27px;
  --padding-23xl: 42px;
  --padding-9xs: 4px;
  --padding-14xl: 33px;
  --padding-35xl: 54px;
  --padding-228xl: 247px;
  --padding-42xl: 61px;
  --padding-104xl: 123px;
  --padding-29xl: 48px;
  --padding-12xl: 31px;
  --padding-7xl: 26px;
  --padding-40xl: 59px;
  --padding-130xl: 149px;
  --padding-18xl: 37px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-2xs: 11px;
  --br-7xs: 6px;
  --br-24xl: 43px;
  --br-base: 16px;
  --br-58xl: 77px;
  --br-19xl: 38px;
  --br-mini: 15px;
  --br-12xl: 31px;
  --br-32xl: 51px;
  --br-8xs: 5px;
  --br-5xs: 8px;
  --br-smi: 13px;
  --br-sm: 14px;
}
