.containerContact {
  width: 50% !important;
  height: 100vh;
  color: #1d1d1f;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
  padding-top: 50px;
  margin-top: 50px !important;
}

.containerServices {
  width: 50% !important;
  height: 100vh;
  color: #1d1d1f;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
  padding-top: 50px;
  margin-top: 50px !important;
}

.containerPortfolio {
  width: 50% !important;
  height: 100vh;
  color: #1d1d1f;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
  padding-top: 50px;
  margin-top: 50px !important;
}
.containerAbout {
  width: 50% !important;
  height: 100vh;
  color: #1d1d1f;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
  padding-top: 50px;
  margin-top: 50px !important;
}
.containerSkills {
  width: 50% !important;
  height: 100vh;
  color: #1d1d1f;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
  padding-top: 50px;
  margin-top: 50px !important;
}
.containerExperience {
  width: 50% !important;
  height: 100vh;
  color: #1d1d1f;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
  padding-top: 50px;
  margin-top: 50px !important;
}
