.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: cyan;
}
