.date {
  text-align: right;
}
.author {
  text-align: center;
}

.showPage {
  width: 80% !important;
  /* border: black solid 1px; */
  background-color: aliceblue;

  margin-left: 137px !important;
}
.pagination {
  text-align: right !important;
}
