.container {
  background-color: #404040;
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 10%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  /* font-weight: 600; */
  font-size: 22.88px;
}
