.container {
  background-color: #404040;
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 10%;
  width: 100%;
  color: #ffffff;
  text-align: center;
  /* font-weight: 600; */
  font-size: 22.88px;
}
.RabindraSharma {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 430;
}
.NameX {
  font-weight: 510;
}
.NameX:hover {
  color: aqua;
  font-weight: 510;
  cursor: pointer;
}
