.Footermain-about {
  color: #ff0066;
  font-size: 19px;
}

.Footerheading-style {
  margin-top: 60px;
  text-align: center;
  margin-top: 200px;
}

.Footermain-title {
  color: black;
  font-size: 46px;
  margin-top: 45px;
}
.containerFooterInternal {
  background-color: white;
  width: 800px;
  height: 260px;
  margin-top: 50px;
  margin-left: 10px;
}

.FooterIMGStyle {
  background-color: #ff0066;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoCompanies {
  background-color: #ff0066;
  /* Remove any margin settings */
  width: 60%;
}
.Footerparagraph {
  width: 700px;
}
.authorstyle {
  text-align: center;
  /* margin-left: 7px; */
  width: 300px;
}
.authorLogo {
  margin-left: 350px;
}
.quoteDetails {
  margin-top: -50px;
  margin-left: 370px;
}
