.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
}
.container button {
  background-color: #ffffff;
}

.porfolio,
.contact,
.aboutme,
.Services {
  text-decoration: none;
  font-weight: 400;
  color: #1d1d1f;
  margin-left: 50px;
  padding: 10px;
  transition: all 0.5s ease;
}
.porfolio:hover,
.contact:hover,
.aboutme:hover,
.Services:hover {
  padding: 10px;
  font-weight: 450;
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .containerMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }

  .containerMobile button {
    background-color: #ffffff;
  }

  .porfolio,
  .contact,
  .aboutme,
  .Services {
    text-decoration: none;
    font-weight: 400;
    color: #1d1d1f;
    margin-left: 0px;
    padding: 0px;
    transition: all 0.5s ease;
  }

  .porfolioMobile:hover,
  .contactMobile:hover,
  .aboutmeMobile:hover,
  .ServicesMobile:hover {
    font-weight: 500; /* Adjusted to 500 for more standard font weight */
    transform: scale(1.05);
  }
}
