.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative; /* Ensure positioning context */
  z-index: 1; /* Ensure it stays on top of other elements */
}
.container button {
  background-color: #ffffff;
}

.porfolio,
.contact,
.aboutme,
.Services {
  text-decoration: none;
  font-weight: 400;
  color: #1d1d1f;
  margin-left: 50px;
  padding: 10px;
  transition: all 0.5s ease;
}
.porfolio:hover,
.contact:hover,
.aboutme:hover,
.Services:hover {
  padding: 10px;
  font-weight: 450;
  transform: scale(1.05);
}

.left-group {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.right-group {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
