.unsplash5mv818tzxeoIcon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 242px;
  object-fit: cover;
}
.bali,
.d3n {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  font-family: var(--font-roboto);
  text-align: left;
}
.bali {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-darkslategray-200);
}
.d3n {
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.baliParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.div {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 34px;
  font-family: var(--font-baloo-bhai);
  color: var(--color-cornflowerblue-200);
  text-align: right;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.holidayDetails,
.recCard1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.holidayDetails {
  align-self: stretch;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  justify-content: center;
  padding: var(--padding-xl) var(--padding-base);
}
.recCard1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  background-color: transparent;
  flex: 1;
  justify-content: flex-start;
  box-sizing: border-box;
  min-width: 230px;
  width: 25%;
}
@media screen and (max-width: 1100px) {
  .recCard1 {
    width: 50%;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 650px) {
  .recCard1 {
    min-width: 250px;
    width: 100%;
    margin-bottom: 32px;
  }
}
