.resultsImageIcon {
  position: relative;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  width: 260px;
  height: 220px;
  object-fit: cover;
}
.kingBedStandard {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 146.92px;
}
.div,
.holidayInnExpre,
.reviews {
  letter-spacing: 0.04em;
  display: inline-block;
}
.holidayInnExpre {
  position: relative;
  font-size: var(--font-size-3xl);
  text-transform: capitalize;
  color: var(--color-darkslategray-300);
  width: 232.87px;
}
.div,
.reviews {
  position: absolute;
  top: 0;
  left: 55.97px;
  width: 117.94px;
}
.div {
  left: 21.99px;
  font-weight: 500;
  width: 23.99px;
}
.stars,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon {
  height: 84.21%;
  width: 34.78%;
  right: 65.22%;
  bottom: 15.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.stars {
  width: 45.98px;
  height: 19px;
  color: var(--color-darkslategray-300);
}
.review {
  position: relative;
  width: 173.91px;
  height: 19px;
  color: var(--color-cornflowerblue-200);
}
.resultAndVideo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.videoIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.resultsTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.night,
.s286 {
  position: absolute;
  letter-spacing: 0.02em;
}
.s286 {
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.night {
  top: 8px;
  left: 73px;
  font-size: var(--font-size-sm);
}
.pricing,
.viewDetailsButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 26px;
}
.viewDetailsButtonChild {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-cornflowerblue-200);
}
.searchFlights {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 54.5px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.viewDetailsButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 37.58px;
  left: 0.49px;
  width: 164px;
  height: 46px;
}
.priceAndCta {
  position: relative;
  width: 164.49px;
  height: 83.58px;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-300);
}
.resultsCard,
.resultsDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsDetails {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-xs) var(--padding-mini) 0;
  gap: var(--gap-12xl);
}
.resultsCard {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue-400);
  flex-direction: row;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 650px) {
  .resultsImageIcon {
    width: 100% !important;
    border-radius: 10px !important;
  }
  .resultsDetails {
    width: 100%;
    padding: var(--padding-mini);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .resultsCard {
    flex-direction: column;
  }
}
