.custom-tooltip {
  margin-top: 12px;
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  border: 1px solid #000000 !important;
  padding: 8px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  max-width: 900px !important;
  width: auto !important;
  min-width: 50px !important;
  overflow-wrap: break-word !important;
  white-space: normal !important;
  text-align: left !important;
}
