.dropdown_container {
  position: relative;
  display: inline-block;
}

/* .verticalDots {
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
} */

.verticalDots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  /* Adjust the size of the circle */
  height: 36px;
  /* Make height equal to width for a perfect circle */
  /* border: none; */
  /* Border for the circle */
  border-radius: 8px;
  /* This makes the div a circle */
  cursor: pointer;

  /* Optional: Set a background color */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* Optional: Add a subtle shadow */
  transition: background-color 0.2s ease;
  /* Optional: Add a hover effect */
  border: 1px solid var(--input-border-color);
  
  color: var(--input-border-color);
  transition: all 0.3s ease;
}

.verticalDots:hover {
 /* color: #fff;  */
  /* color: #377CF6; */
 border: 1px solid #377CF6;
 background-color: #E5EFFF;
  /* background-color: #377cf6; */
  transform: scale(1.05);

}
.dropdownMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: white;
  border: 1px solid var(--input-border-color);
  box-shadow: 0px 4px 10px rgba(43, 42, 42, 0.3);
  z-index: 100;
  width: 175px;
  border-radius: 8px;
  padding: 4px;
}

.dropdownItemAll {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;

}

.dropdownItem {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
}

.dropdownItem:hover {
  background-color: #d6e5ff;
  /* border-radius: 4px; */
}

.selected {
  background-color: #377cf6;
  color: #ffffff;
  /* border-radius: 4px; */
}

