body {
  font-family: Arial, sans-serif;
  background-color: white;
}
.containerChose {
  display: flex;
  margin-left: 160px;
}
.choseContainer {
  background-color: white;
  width: 260px;
  height: 260px;
  margin-top: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.main-title {
  color: black;
  font-size: 46px;
  margin-top: 45px;
}
.heading-style {
  margin-top: 60px;
  text-align: center;
}
.headingOfTitle {
  text-align: left;
  /* font: normal normal medium 20px/80px Poppins; */
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

#secondSpan {
  margin-top: 10px;
}
.imageLogo {
  width: 83px;
  height: 83px;
}
.imageLogo1 {
  width: 72px;
  height: 72px;
}
.imageLogo2 {
  width: 72px;
  height: 72px;
}
.main-about {
  color: #ff0066;
  font-size: 19px;
}
/* Media query for screens with a maximum width of 768px (typical tablet size) */
@media (max-width: 768px) {
  .containerChose {
    margin-left: 0; /* Reset left margin */
  }

  .choseContainer {
    width: 200px; /* Adjust width for better fit on smaller screens */
    height: 200px; /* Adjust height for better fit on smaller screens */
  }

  .main-title {
    font-size: 28px; /* Adjust font size for better readability on smaller screens */
    margin-top: 10px; /* Adjust margin for better spacing on smaller screens */
  }

  .heading-style {
    margin-top: 20px; /* Adjust margin for better spacing on smaller screens */
  }

  .headingOfTitle {
    font-size: 18px; /* Adjust font size for better readability on smaller screens */
  }

  .imageLogo,
  .imageLogo1,
  .imageLogo2 {
    width: 60px; /* Adjust image size for better fit on smaller screens */
    height: 60px; /* Adjust image size for better fit on smaller screens */
  }

  .main-about {
    font-size: 14px; /* Adjust font size for better readability on smaller screens */
  }
}
